@using BlogSolution.Models.ModelApp.Base ;
@using database.Database ; 
@{
    ViewBag.Title = "Register";
    var Member = (UserCookiesModel)ViewBag.UserStatus;
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <style>
        body {
            background: url('https://cdn.custom-cursor.com/packs/3475/meme-pop-cat-pack.png') fixed;
            background-size: cover;
        }

        *[role="form"] {
            max-width: 530px;
            padding: 15px;
            margin: 0 auto;
            border-radius: 0.3em;
            background-color: #f2f2f2;
        }

            *[role="form"] h2 {
                font-family: 'Open Sans', sans-serif;
                font-size: 40px;
                font-weight: 600;
                color: #000000;
                margin-top: 5%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
    </style>
</head>
<body>
    <div class="container">
        <a href="~/Member/MemberList">กลับสู่หน้าหลัก</a>
        <form class="form-horizontal needs-validation" role="form">
            <h2>Registration</h2>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name*</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="First Name" class="form-control" required>
                    <div class="valid-feedback ">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name*</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" placeholder="Last Name" class="form-control" required>
                    <div class="valid-feedback ">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email* </label>
                <div class="col-sm-9">
                    <input type="email" id="email" placeholder="Email" class="form-control" name="email" required>
                    <div class="valid-feedback ">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="UserName" class="col-sm-3 control-label">UserName*</label>
                <div class="col-sm-9">
                    <input type="text" id="UserName" placeholder="UserName" class="form-control" required>
                    <div class="valid-feedback ">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="Password" class="form-control" required>
                    <div class="valid-feedback ">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            @{
                if (Member != null && Member.MemberType == true)
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">admin status*</label>
                        <div class="col-sm-6">
                            <div class="row" id="MemberType">
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="isadmin" name="MemberType" value="true">admin
                                    </label>

                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="notadmin" name="MemberType" value="false">normal
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <label class="control-label col-sm-3">เจ้ายินยอมที่จะสมัคร บ่ ?</label>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="notadmin" name="MemberType" value="false">ยินยอม
                        </label>

                    </div>
                }
            }
            <!-- /.form-group -->


            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Required fields</span>
                </div>
            </div>
            <button type="button" id="save" class="btn btn-primary btn-block">Register</button>

        </form> <!-- /form -->

    </div> <!-- ./container -->
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');

                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('click', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        $('#save').click(function () {
            var model = {
                FirstName: $('#firstName').val(),
                LastName: $('#lastName').val(),
                UserName: $('#UserName').val(),
                Email: $('#email').val(),
                Password: $('#password').val(),
                MemberType: $("#MemberType input[type='radio']:checked").val()
            }

            if (model.FirstName && model.LastName && model.UserName && model.Email && model.Password != "") {

                $.ajax({
                    type: 'POST',
                    url: '/Member/checkUserName',
                    data: JSON.stringify(model),
                    datatype: "json",
                    contentType: 'application/json;',
                    traditional: true,
                    async: false,
                    success: function (e) {
                        if (e.isResult) {
                            $.ajax({
                                type: 'POST',
                                url: '/Member/bindSave',
                                data: JSON.stringify(model),
                                datatype: "json",
                                contentType: 'application/json;',
                                traditional: true,
                                async: false,
                                success: function (e) {

                                    if (document.cookie != "") {
                                        alert("success++++****")
                                        window.location = "/Member/MemberList";
                                    } else {
                                        alert("You should login")
                                        window.location = "/Member/Login";
                                    }

                                },
                                error: function (e) {

                                }
                            })
                        } else {
                            $('#UserName').val('')
                            alert('UserName มีการใฃ้เเล้วโปรดกรอกใหม่')
                            
                            console.log("Username ซ้ำกับในระบบ")
                        }
                    }
                })
            } else {

            }

        })
    </script>
</body>
</html>