
@{
    ViewBag.Title = "MasterpageRegister";
}

<h2>MasterpageRegister</h2>
@{
    var Member = ViewBag.UserStatus;
    var MemberType = false;
    if (Member != null)
    {
        MemberType = Member.MemberType;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
</head>
<body>
    
        @RenderBody()
        


   
</body>
</html>
